@model RequestApp.Models.Book

@{
    ViewBag.Title = "Create";
}


<!-- MetisMenu CSS -->
<link href="/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
<!-- DataTables CSS -->
<link href="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">
<!-- DataTables Responsive CSS -->
<link href="/bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">
<!-- Custom Fonts -->
<link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<!-- DataTables JavaScript -->
<script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
<link href="/bower_components/select2/css/select2.min.css" rel="stylesheet" type="text/css">
<script src="/bower_components/select2/js/select2.min.js"></script>
<!-- Summernote -->
<link href="/bower_components/summernote/css/summernote.css" rel="stylesheet" type="text/css">
<script src="/bower_components/summernote/js/summernote.min.js"></script>
<h2>Create</h2>

<script>
    $("document").ready(function () {
        $table = $("#MainTable").DataTable({ //Identa mejor tu codigo

            "columnDefs":
            [


            ],
            "order": [[1, "asc"]],

        });//Inicialize the Data Table
        $Select1 = $("#Select1").select2({
            placeholder: "Select a genre",
            allowClear: true
        });//Inicialize the select genre
        $Select2 = $("#Select2").select2({
            placeholder: "Select Status",
            allowClear: true
        });//Inicialize the select status
        $SummerNote = $("#Summernote").summernote({
            height: 125,
            codemirror: {theme:'monokai'}
        });//Inicialize the Text Area
        
        
        $.ajax({
            type: "GET",
            url: "http://localhost:61232/Books/getStatutes",
            data: "",
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (Pdata) {
                if (Pdata) {
                    $.each(Pdata, function () {
                      
                        $("#Select2").append("<option value=" + this.StatusId + ">" + this.Name + "</option>");
                    }) //Te faltan bastantes ;
                }
                else {

                    if (!$('div[class="alert-danger"]').length) {
                        $(".form-group").prepend('<div class="alert alert-danger"><strong>Omaiga!</strong>Something went wrong</div>');
                    }
                }
            },
            error: function () {
                WarningMessage();
            }
        });//GET Ajax Status
        $.ajax({
            type: "GET",
            url: "http://localhost:61232/Books/getGenres",
            data: "",
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (Pdata) { //Identa tu codigo
                
                    if (Pdata)
                    {

                        $.each(Pdata, function () {
                           
                            $("#Select1").append("<option value=" + this.GenreId + ">" + this.Name + "</option>");
                        })       
                    }
                         
                
                else {

                    if (!$('div[class="alert-danger"]').length) {
                        $(".form-group").prepend('<div class="alert alert-danger"><strong>Omaiga!</strong>Something went wrong</div>');
                    }
                }
            },
            error: function () {
                WarningMessage();
            }
        });//GET Ajax Genres
        $("#btnSave").click(function () {

            if (ValidateForm(".form-horizontal") && CheckDatable() && ValidateTextArea() && ValidateSelect()) {
                console.log($SummerNote.code());
                $.ajax({
                    type: "POST",
                    url: "http://localhost:61232/Books/AddNewBook",
                    data: JSON.stringify({
                        Title: $("#Title").val(),
                        Description: $SummerNote.code(),
                        ImageUrl: $("#ImageUrl").val(),
                        Publisher: $("#Publisher").val(),
                        PublicationYear: $("#PublicationYear").val(),
                        authors: AuthorsMethod(),
                        GenreIds: $("#Select1").val(),
                        StatusId: $("#Select2").val()
                    }),
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    success: function (Pdata) {
                        if (Pdata) {
                             window.location.replace("http://localhost:61232/Books/");
                           
                            
                        }
                        else {

                            if (!$('div[class="alert-danger"]').length) {
                                $(".form-group").prepend('<div class="alert alert-danger"><strong>Omaiga!</strong>Failed inserting the data</div>');
                            }
                        }
                    },
                    error: function () {
                        WarningMessage();
                    }
                });
            }
        });//Closes POST Ajax method
        $("#AddRow").click(function () {
            if(ValidateForm("#modal-body")) {
                console.log("jaja salu2")
                var Data = [
                    $("#FirstName").val(),
                    $("#SecondName").val(),
                    $("#FirstLastName").val(),
                    $("#SecondLastName").val(),
                    "<span class='glyphicon glyphicon-remove-circle'> |</span>" +
                    "<span class='glyphicon glyphicon-ok-circle'></span>"

                ];
                console.log(Data);
                var Obj = { FirstName: Data[0], SecondName: Data[1], FirstLastName: Data[2], SecondLastName: Data[3] };
                //La variable Obj no la usas en ningun lado
                $("#MainTable").DataTable()
                    .row
                    .add(Data)
                    .draw();
                $("#myModal").modal("hide");
            }
            
        });//Closes Add Row function
        $("#EditRow").click(function () {
            if (ValidateForm(".modal-body")) {
                $("#myModal").modal("hide");
                var Data = [
                    $("#FirstName").val(),
                    $("#SecondName").val(),
                    $("#FirstLastName").val(),
                    $("#SecondLastName").val(),
                    "<span class='glyphicon glyphicon-remove-circle'> |</span>" +
                    "<span class='glyphicon glyphicon-ok-circle'></span>"
                ];
                console.log(Data) // ;
                $table
                    .row($("#hidden").val())
                    .data(Data)
                    .draw();
            }
        });//Edit Row
        $("tbody").on("click", ".glyphicon-ok-circle", function () {
            $("#AddRow").css("display", "none");
            $("#EditRow").css("display", "inline");

            var Row = $(this).parents("tr");
            var Index = $table.row(Row).index();
            var Data = $table.row(Index).data();

            $("#FirstName").val(Data[0]);
            $("#SecondName").val(Data[1]);
            $("#FirstLastName").val(Data[2]);
            $("#SecondLastName").val(Data[3]);
            $("#hidden").val(Index);
            $("#myModal").modal();
        });//Print the row data in the modal
        $("tbody").on("click", ".glyphicon-remove-circle", function () {
            var Row = $(this).parents("tr");
            var Index = $table.row(Row).index();
            var Data = $table.row(Index).data(); //Esta variable no la usas
            $("#hidden2").val(Index);
            console.log("jaja saludos");
            $("#myDeleteModal").modal();

        });//Removes the data from the DataTable
        $("#YesDelete").click(function () {
            $("#myDeleteModal").modal("hide");
            $table
                .row($("#hidden2").val())
                .remove()
                .draw();
        });//Comfirmation Modal Delete
        $("#NoDelete").click(function () {
            $("#myDeleteModal").modal("hide");
        });//Confirmation Modal 

    });//Close Document Ready
    //-------------------FUNCTIONS SECTION-------------------//
    function WarningMessage() {
        if (!$('div[class="alert-danger"]').length) {
            $("#myDT").prepend('<div class="alert alert-danger">< strong > Omaiga!</strong >Something went wrong >:O</div >');
        }
    }//Displays a warning message
    function ValidateForm(Zone) {
        var Error = true;
        $(Zone + " .NewOne").not("#hidden").each(function () {
            if ($(this).val().trim() == "" || $(this).val() < 0) {
                $(this).addClass("Error");
                Error = false;
            }
            else {
                $(this).removeClass("Error");
            }
        });
        return Error;
    }//Validates the form
    function ValidateTextArea()
    {
        
        if ($SummerNote.val().trim() == "")
        {
            $(".form-horizontal").prepend('<div class="alert alert-danger"><strong>Omaiga!</strong> You can insert a book without a description >:v</div>');
            return false;
        }
        return true;
        
    }//Validates the text Area
    function CloseModal() {
        $("#myModal").modal("hide");
        $(".form-control").not(".Data").val("");
    }//Closes the modal
    function OpenModal() {
        $("#myModal").modal()
        $("#EditRow").css("display", "none");
        $("#AddRow").css("display", "inline");
        $(".modal-content .form-control").not(".hidden").not(".hidden2").val("");
    }//Opens up the modal an cleans the data of the input
    function AuthorsMethod() {
        var ArrayAuthors = [];

        var TableData = $table.data();
        for (var i = 0; i < TableData.length; i++) {
            //console.log(TableData[i][0]);
            var ObjData = { FirstName: TableData[i][0], SecondName: TableData[i][1], FirstLastName: TableData[i][2], SecondLastName: TableData[i][3] };
            ArrayAuthors.push(ObjData);
        }
        return ArrayAuthors;
    }//Obtains the Authors information
    function CheckDatable()
    {

        if ($table.data().length === 0)
        {
            $(".form-horizontal").prepend('<div class="alert alert-danger"><strong>Omaiga!</strong> You can insert a book without an author >:v</div>');
            return false;
        }
        return true;
    }//Validates the Data Table
    function ValidateSelect()
    {
        if ($("#Select1").val() == null)
        {
            $(".form-horizontal").prepend('<div class="alert alert-danger"><strong>Omaiga!</strong> You can insert a book without a genre >:O</div>');
            return false;
        }
        return true;

    }// Validates the select
</script>



<style>
    .Error {
        border: solid 1px red;
    }

    #hidden {
        display: none;
    }
    #hidden2 {
        display: none;
    }
</style>




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" id="form-horizontal">
        <h4>Book</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control NewOne" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })*@
                <textarea id="Summernote"></textarea>
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImageUrl, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ImageUrl, new { htmlAttributes = new { @class = "form-control NewOne" } })
                @Html.ValidationMessageFor(model => model.ImageUrl, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Publisher, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Publisher, new { htmlAttributes = new { @class = "form-control NewOne" } })
                @Html.ValidationMessageFor(model => model.Publisher, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PublicationYear, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="number" id="PublicationYear" name="PublicationYear" class="form-control NewOne" />
                @Html.ValidationMessageFor(model => model.PublicationYear, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Genre</label>
            <select class="form-control" id="Select1" multiple></select>    
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Book Status</label>
            <select class="form-control" id="Select2"></select>
        </div>
        <div>
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="btnSave" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<!--------------------------MAIN TABLE-------------------------->
<div class="container">

    Add Row | <span><button id="AddRowModal" class="btn btn-success btn btn-default glyphicon glyphicon-plus-sign" type="button" onclick="OpenModal()"></button></span>
    <table id="MainTable" class="table table-striped table-bordered" cellspacing="0">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Second Name</th>
                <th>First Last Name</th>
                <th>Second Last Name</th>
                <th>Buttons</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <br>
    <button class="btn btn-success btn-block" id="ShowData">Show my data</button>
    </br>
    <!--------------------------MAIN TABLE-------------------------->
    <!------------------------------------MODAL------------------------------------->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="padding:35px 50px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4><span class="glyphicon glyphicon-add"></span> Add Authors Information :3</h4>
                </div>
                <div class="modal-body" id="modal-body" style="padding:40px 50px;">
                    <form role="form">
                        <div class="form-group">
                            <label for="usrname"><span class="glyphicon glyphicon-user"></span> First Name</label>
                            <input type="text" class="form-control NewOne" id="FirstName" placeholder="Enter First Value">
                        </div>
                        <div class="form-group">
                            <label for="usrname"><span class="glyphicon glyphicon-user"></span> Second Name</label>
                            <input type="text" class="form-control NewOne" id="SecondName" placeholder="Enter Second Value">
                        </div>
                        <div class="form-group">
                            <label for="usrname"><span class="glyphicon glyphicon-user"></span> First Last Name</label>
                            <input type="text" class="form-control NewOne" id="FirstLastName" placeholder="Enter Third Value">
                        </div>
                        <div class="form-group">
                            <label for="usrname"><span class="glyphicon glyphicon-user"></span> Second Last Name</label>
                            <input type="text" class="form-control NewOne" id="SecondLastName" placeholder="Enter Fourth Value">
                        </div>
                        <input type="text" id="hidden">
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success btn-block" id="AddRow"><span class="glyphicon glyphicon-record"></span> Add the row</button>
                    <button type="submit" class="btn btn-success btn-block Display" id="EditRow"><span class="glyphicon glyphicon-record"></span> Edit the row</button>
                    <button type="submit" class="btn btn-success btn-block" id="CloseModal" onclick="CloseModal()"><span class="glyphicon glyphicon-remove-circle"></span> Cancel </button>
                </div>
            </div>


        </div>
    </div>
    <!------------------------------------MODAL------------------------------------->
    <!------------------------------------DELETE MODAL------------------------------------->
    <div class="modal fade" id="myDeleteModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="padding:35px 50px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4><span class="glyphicon glyphicon-add"></span>Delete this row ????</h4>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    <div class="alert alert-danger"><strong> Mah gosh </strong>Do you really want to delete this ??</div>
                </div>
                <input id="hidden2" type="text">
                <div class="modal-footer">

                    <button type="submit" class="btn btn-success btn-block Display" id="YesDelete"><span class="glyphicon glyphicon-record"></span>Yes, i want to delete this</button>
                    <button type="submit" class="btn btn-success btn-block" id="NoDelete"><span class="glyphicon glyphicon-remove-circle"></span>No, it was a mistake</button>
                </div>
            </div>


        </div>
    </div>
    <!------------------------------------DELETE MODAL------------------------------------->

</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
