@model RequestApp.Models.Book

@{
    ViewBag.Title = "Create";
}

<!-- MetisMenu CSS -->
<link href="/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
<!-- DataTables CSS -->
<link href="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">
<!-- DataTables Responsive CSS -->
<link href="/bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">
<!-- DataTables JavaScript -->
<script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>

<h2>Create</h2>

<script>
   
    $(document).ready(function () {
        $AuthorTable = $("#AuthorTable").DataTable({
            responsive: true,
            "columnDefs":
		    [
                {
			        "targets": [4],
			        "sortable": false
			    }
		    ]
        });
       
        $("#btnSave").click(function () {

            var AuthorList = [];
            /*
                FirstName 
                SecondName 
                FirstLastName 
                SecondLastName
            */
            var RowCount = $AuthorTable.data().length;
            console.log(RowCount);
            for (var i = 0; i < RowCount; i++) {

            }

            $.ajax({
                type: "POST",
                url: "http://localhost:61232/Books/AddNewBok",
                data: JSON.stringify({
                    Title: $("#Title").val(),
                    Description: $("#Description").val(),
                    ImageUrl: $("#ImageUrl").val(),
                    Publisher: $("#Publisher").val(),
                    PublicationYear: $("#PublicationYear").val(),
                    Author: AuthorList
                }),
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (JsonData)
                {
                    if (JsonData == true) {
                        window.location.replace("http://localhost:61232/Books/");
                    } else
                    {
                        ErrorAlert();
                    }
                   
                },
                error: function () {
                    ErrorAlert();
                }
            });

        });
        
    });
    function AddAuthorInfo() {

        var RowData = [$("#Firstname").val(),
                       $("#Middlename").val(),
                       $("#Lastname").val(),
                       $("#Surname").val()];
        if (TextListValidation(RowData) == true)
        {
            RowData.push('<div align="center"><button type="button" class="glyphicon glyphicon-pencil" onclick="OpenEdit(this)"></button>' +
                         '<button type="button" class="glyphicon glyphicon-remove-sign" onclick="RemoveFromTable(this)"></button></div>');

            $AuthorTable.row.add(RowData).draw();
            $("#AuthorInfoModal").modal("hide");
            if ($("#ErrorAlert").length) { $("#ErrorAlert").remove(); }
            $(".AuthorInfoInput").val("");

        } else {

          var ModalAlert = '<div id=ErrorAlert class="alert alert-danger">' +
                           '<strong>Invalid Author!</strong> Please make sure there are <bold>no blank spaces</bold> in any of the input fields.' +
                           '</div>';
          $("#AuthorInfoModal").append(ModalAlert);
        }
    }

    function TextListValidation(TextList)
    {
        var validator = true;
        for (var i = 0; i < TextList.length; i++) 
        {
            if(TextList[i].trim()==""){validator = false;}
        }
        return validator;
    }

    function OpenEdit()
    {
        console.log("Edit");
    }
    
    function RemoveFromTable(button) {
        var rowToRemove = $(button).parents("tr");
        $AuthorTable.row(rowToRemove).remove().draw();
    }

    function ErrorAlert() {
        if ($("#ErrorAlert").length == 0) {
            var htmlModal1 = '<div id=ErrorAlert class="alert alert-danger">' +
                                '<strong>Error!</strong> The request could not be processed correctly, please try again.' +
                             '</div>';
            $("body").append(htmlModal1);
        }
    }
</script>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Book</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImageUrl, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ImageUrl, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ImageUrl, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Publisher, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Publisher, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Publisher, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PublicationYear, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="number" id="PublicationYear" name="PublicationYear" class="form-control"/>
                @Html.ValidationMessageFor(model => model.PublicationYear, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="btnSave" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
    <div id="table">
        <p class="lead">
           <b> Author List: </b> 
        </p>
        <button id="AddForm" class="btn btn-default" data-toggle="modal" data-target="#AuthorInfoModal">
            Add Author
        </button>
        <br>
        <br>
        <table id="AuthorTable" class="display table table table-condensed">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Middle Name</th>
                    <th>Lastname</th>
                    <th>Surname</th>
                    <th>Options</th>
                </tr>
            </thead>
        </table>
    </div>

    <div id="AuthorInfoModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Author Information</h4>
                </div>
                <div class="modal-body">
                   <form id="AuthorInfo">
                       <label>First Name</label><br>
                       <input type="text" id="Firstname" value="" class="AuthorInfoInput"><br>
                       <label>Middle Name</label><br>
                       <input type="text" id="Middlename" value="" class="AuthorInfoInput"><br>
                       <label>Last Name</label><br>
                       <input type="text" id="Lastname" value="" class="AuthorInfoInput"><br>
                       <label>Surname</label><br>
                       <input type="text" id="Surname" value="" class="AuthorInfoInput"><br>
                   </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-default" onclick="AddAuthorInfo()">Add</button>
                </div>
            </div>

        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
