@model RequestApp.Models.Book

@{
    ViewBag.Title = "Edit";
}

<!-- MetisMenu CSS -->
<link href="/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
<!-- DataTables CSS -->
<link href="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">
<!-- DataTables Responsive CSS -->
<link href="/bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">
<!-- Custom Fonts -->
<link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- DataTables JavaScript -->
<script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>


<h2>Edit</h2>
<style>
    #hidden {
        display: none;
    }

    .Error {
        border: solid 1px red;
    }

    .glyphicon:hover {
        cursor: pointer;
    }
</style>
<Script>
    $(document).ready(function () {
        $table = $('#myTable').DataTable({
            responsive: true,
            "columnDefs": [
                {
                    "targets": [4],
                    "orderable": false
                }
            ]
        });

        $('#btnAdd').click(function () {
            ButtonChange(true);
        });

        $('#myModal').on('hidden.bs.modal', function () {
            $('#myModal input[class="form-control"]').val("");
        });

        $('#btnCreate').click(function () {
            if (Validate(".modal-content")) {
                var Data = getInputsData();
                $("#myTable").DataTable().row.add(Data).draw();
                $("#myModal").modal("hide");
            }
        });

        $.urlParam = function (name) {
            var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
            return results[1] || 0;
        }

        $.ajax({
            type: "GET",
            url: "http://localhost:61232/Books/getSingleBook",
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            data: { bookId: parseInt($.urlParam("bookId")) },
            success: function (data) {
                if (data === false) {
                    window.location.replace("http://localhost:61232/Books/");
                } else {
                    $("#Title").val(data.Title);
                    $("#Description").val(data.Description);
                    $("#ImageUrl").val(data.ImageUrl);
                    $("#Publisher").val(data.Publisher);
                    $("#PublicationYear").val(data.PublicationYear);
                    var Data = [];
                    for (var i = 0; i < data.Authors.length; i++) {
                        var Arreglo = [
                            data.Authors[i].FirstName,
                            data.Authors[i].SecondName,
                            data.Authors[i].FirstLastName,
                            data.Authors[i].SecondLastName,
                            "<span class='glyphicon glyphicon-remove-circle'> | </span>" +
                            "<span class='glyphicon glyphicon-ok-circle'></span>"
                        ];
                        Data.push(Arreglo);
                    }
                    $table.rows.add(Data).draw();
                }
            },
            error: function () {
                window.location.replace("http://localhost:61232/Books/");
            }
        });

        $("#btnEdit").click(function () {
            if (Validate(".form-horizontal") && $table.data().length > 0) {
                $.ajax({
                    type: "PUT",
                    url: "http://localhost:61232/Books/UpdateBook",
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({
                        BookId: parseInt($.urlParam("bookId")),
                        Title: $("#Title").val(),
                        Description: $("#Description").val(),
                        ImageUrl: $("#ImageUrl").val(),
                        Publisher: $("#Publisher").val(),
                        PublicationYear: $("#PublicationYear").val(),
                        Authors: GetAuthors()
                    }),
                    success: function (data) {
                        if (data) {
                            window.location.replace("http://localhost:61232/Books/");
                        } else {
                            AddRemove("Alert", "No me edité");
                        }
                    },
                    error: function () {
                        AddRemove("Error", "Me caí");
                    }
                });
            }
        });
    });

    $(document).on("click", ".glyphicon-remove-circle", function () {
        var Parent = $(this).parents("tr");
        $("#myTable").DataTable().row(Parent).remove().draw();
    });

    $(document).on("click", ".glyphicon-ok-circle", function () {
        var Parent = $(this).parents("tr");
        ButtonChange(false);
        var index = $("#myTable").DataTable().row(Parent).index();
        var array = $("#myTable").DataTable().row(index).data();
        $("#IdFirstInput").val(array[0]);
        $("#IdSecondInput").val(array[1]);
        $("#IdThirdInput").val(array[2]);
        $("#IdFourthInput").val(array[3]);
        $("#hidden").val(index);
    });

    $(document).on("click", "#btnUpdate", function () {
        if (Validate(".modal-content")) {
            var idx = $("#hidden").val();
            $("#myTable").DataTable().row(idx).data(getInputsData()).draw();
            $("#myModal").modal("hide");
        }
    });

    function Validate(Zone) {
        var validation = true;
        $(Zone + " .form-control").not("#hidden").each(function () {
            if ($(this).val().trim() == '' || $(this).val() < 0) {
                $(this).addClass("Error");
                validation = false;
            } else {
                $(this).removeClass("Error");
            }
        });
        return validation;
    }

    function AddRemove(idAdd, Text) {
        if (!$("#" + idAdd).length) {
            $(".alert").remove();
            $(".form-horizontal").prepend('<div class="alert alert-danger" id="' + idAdd + '"><strong>Warning! </strong>' + Text + '</div >');
        }
    }

    function ButtonChange(create) {
        if (create) {
            $("#btnCreate").css("display", "inline");
            $("#btnUpdate").css("display", "none");
        } else {
            $("#btnUpdate").css("display", "inline");
            $("#btnCreate").css("display", "none");
        }
        $('#myModal').modal('show');
    }

    function getInputsData() {
        return [$("#IdFirstInput").val(),
        $("#IdSecondInput").val(),
        $("#IdThirdInput").val(),
        $("#IdFourthInput").val(),
        "<span class='glyphicon glyphicon-remove-circle'> | </span>" +
        "<span class='glyphicon glyphicon-ok-circle'></span>"];
    }

    function GetAuthors() {
        var Arreglo = [];
        for (var i = 0; i < $table.data().length; i++) {
            console.log($table.data()[i])
            var Author = {
                FirstName: $table.data()[i][0],
                SecondName: $table.data()[i][1],
                FirstLastName: $table.data()[i][2],
                SecondLastName: $table.data()[i][3]
            };
            Arreglo.push(Author);
        }
        console.log(Arreglo);
        return Arreglo;
    }

    function ValidateTable() {
        if ($table.data().length == 0) {
            AddRemove("Table", "Agregue autores");
            return false;
        }
        return true;
    }
</Script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Book</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.BookId)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImageUrl, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ImageUrl, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ImageUrl, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Publisher, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Publisher, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Publisher, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PublicationYear, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PublicationYear, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PublicationYear, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <table id="myTable" width="100%">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Second Name</th>
                <th>First Last Name</th>
                <th>Second Last Name</th>
                <th>Buttons</th>

            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <button type="button" class="btn btn-info btn-lg" id="btnAdd">Add author</button>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Save" class="btn btn-default" id="btnEdit" />
        </div>
    </div>

        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="IdFirstInput">First Name:</label>
                            <input type="text" class="form-control" id="IdFirstInput">
                        </div>
                        <div class="form-group">
                            <label for="IdSecondInput">Second Name:</label>
                            <input type="text" class="form-control" id="IdSecondInput">
                        </div>
                        <div class="form-group">
                            <label for="IdThirdInput">Last Name:</label>
                            <input type="text" class="form-control" id="IdThirdInput">
                        </div>
                        <div class="form-group">
                            <label for="IdFourthInput">Surname:</label>
                            <input type="text" class="form-control" id="IdFourthInput">
                        </div>
                        <input type="text" class="form-control" id="hidden">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-default" id="btnCreate">Create</button>
                        <button type="button" class="btn btn-default" id="btnUpdate">Update</button>
                    </div>
                </div>

            </div>
        </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
