@model IEnumerable<RequestApp.Models.Book>

@{
    ViewBag.Title = "Index";
}
<!-- Bootstrap Core CSS -->
<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- MetisMenu CSS -->
<link href="/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
<!-- DataTables CSS -->
<link href="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">
<!-- DataTables Responsive CSS -->
<link href="/bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">
<!-- Custom Fonts -->
<link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- DataTables JavaScript -->
<script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>

<script>
    
    /*
    usar enlace con GET, usar el dato y cargar la table  http://localhost:61232/Books/GetMyJsonValues
    */

    $(document).ready(function () {
        $MainTable = $("#myDT").DataTable({
            responsive: true,
            "columnDefs":
		[
			{
			    "targets": [6],
			    "sortable": false
			}

		]
        });

        $.ajax({
            type: "GET",
            url: "http://localhost:61232/Books/GetMyJsonValues",
            data: JSON.stringify(),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (JsonData) {
                console.log(JsonData);
                $.each(JsonData, function (index, item) {
                    var NewRow = [item.BookId,
                                  item.Description,
                                  item.ImageUrl,
                                  item.PublicationYear,
                                  item.Publisher,
                                  item.Title,
                                 '<button type="button" class="btn btn-info btn-sm" >Edit</button>' +
                                 '<button type="button" class="btn btn-info btn-sm editMyRow" onclick="RemoveFromTable(this)">Remove</button>'];
                    $MainTable.row.add(NewRow).draw();

                });

            },
            error: function () {
                console.log("There was an error with the JSON file.");
            }
        });
    });



</script>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="myDT" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublicationYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                <label>Buttons</label>
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>


