@model IEnumerable<RequestApp.Models.Book>

@{
    ViewBag.Title = "Index";
}
<!-- Bootstrap Core CSS -->
<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- MetisMenu CSS -->
<link href="/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
<!-- DataTables CSS -->
<link href="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">
<!-- DataTables Responsive CSS -->
<link href="/bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">
<!-- Custom Fonts -->
<link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- DataTables JavaScript -->
<script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>

<script>
    
    /*
    usar enlace con GET, usar el dato y cargar la table  http://localhost:61232/Books/GetMyJsonValues
    */

    $(document).ready(function () {
        $MainTable = $("#myDT").DataTable({
            responsive: true,
            "columnDefs":
		[
			{
			    "targets": [6],
			    "sortable": false
			}

		]
        });

        $.ajax({
            type: "GET",
            url: "http://localhost:61232/Books/GetMyJsonValues",
            data: JSON.stringify(),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (JsonData) {
                
                $.each(JsonData, function (index, item) {
                    var NewRow = [item.BookId,
                                  item.Description,
                                  item.ImageUrl,
                                  item.PublicationYear,
                                  item.Publisher,
                                  item.Title,
                                 '<button type="button" class="btn btn-info btn-sm" onclick="GoToEdit(this)" >Edit</button>' +
                                 '<button type="button" class="btn btn-info btn-sm" onclick="RemoveModal(this)">Remove</button>'];
                    $MainTable.row.add(NewRow).draw();

                });

            },
            error: function () {
                console.log("There was an error with the JSON file.");
            }
        });
    });
    
    function RemoveModal(button)
    {
        
        $("#ConfirmationModal").modal();
        $("#StoredIndex").val($(button).parents("tr").index());
            
    }

    function RemoveFromTable()
    {
        var RowIndex = $("#StoredIndex").val();
        $.ajax({
            type: "DELETE",
            url: "http://localhost:61232/Books/DeleteBok",
            data: JSON.stringify({ bookId: $MainTable.row(RowIndex).data()[0] }),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (JsonData) {
                if (JsonData) {
                    $MainTable.row(RowIndex).remove().draw();
                } else {
                    ErrorAlert();
                }

            },
            error: function ()
            {
                ErrorAlert();
            }
    
        });

    }

    function GoToEdit(button)
    {
        $("#StoredIndex").val($(button).parents("tr").index());
        var ID =  $MainTable.row($("#StoredIndex").val()).data()[0] ;
        window.location.replace("http://localhost:61232/Books/Edit?BookID=" + ID);
    }




    function ErrorAlert() {

        if ($("#ErrorAlert").length == 0) {
            var htmlModal1 = '<div id=ErrorAlert class="alert alert-danger">' +
                                '<strong>Error!</strong> The request could not be processed correctly, please try again.' +
                             '</div>';
            $("body").prepend(htmlModal1).animate({ scrollTop: 0 }, "slow");

        } else {
            $("body").animate({ scrollTop: 0 }, "slow");
        }
    }

    


</script>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="myDT" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublicationYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                <label>Buttons</label>
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<div class="modal fade" id="ConfirmationModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you wish to delete this row?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal" onclick="RemoveFromTable()"  >Yes</button>
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">No</button>
                <label id="StoredIndex" style="display:none"></label>
            </div>
        </div>

    </div>
</div>





