@model IEnumerable<RequestApp.Models.Book>

@{
    ViewBag.Title = "Index";
}
<!-- Bootstrap Core CSS -->
@*<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">*@
<!-- MetisMenu CSS -->
<link href="/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
<!-- DataTables CSS -->
<link href="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">
<!-- DataTables Responsive CSS -->
<link href="/bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">
<!-- Custom Fonts -->
<link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
@*<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>*@
<!-- DataTables JavaScript -->
<script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        $MyDataTable = $('#myDT').DataTable({
            ajax: {
                url: 'http://localhost:61232/Books/GetMyJsonValues',
                dataSrc: ''
            },
            columns: [
                { 'data': 'BookId' },
                { 'data': 'Description' },
                { 'data': 'ImageUrl', },
                { 'data': 'PublicationYear', },
                { 'data': 'Publisher' },
                { 'data': 'Title' },
                { 'defaultContent': "<span class=\"glyphicon glyphicon-edit\"></span> | <span class=\"glyphicon glyphicon-remove\"></span>" }
            ],
            columnDefs: [
                { targets: 6, orderable: false }
            ]
        });

        $('#myDT').on('click', '.glyphicon-remove', function () {
            $("#Modal-Delete").modal();
            $("#hiddenInput").val($MyDataTable.row($(this).parents('tr')).index());
        });

        $(document).on('click', '#Delete-Confirmation', function () {
            $("#Modal-Delete").modal('toggle');
            var DeleteRow = $MyDataTable.row($('#hiddenInput').val());
            $.ajax({
                type: 'delete',
                url: 'http://localhost:61232/Books/DeleteBook',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ bookId: DeleteRow.data().BookId }),
                success: function (data) {
                    if (data) {
                        DeleteRow.remove().draw();
                    } else {
                        $('#myDT').prepend("<div class=\"alert alert-danger alert-dismissable\"><a href=\"#\" class=\"close\" data-dismiss=\"alert\" aria-label=\"close\">×</a>The selected row wasn't deleted.</div>");
                    }
                },
                error: function () {
                    $('#myDT').prepend("<div class=\"alert alert-danger alert-dismissable\"><a href=\"#\" class=\"close\" data-dismiss=\"alert\" aria-label=\"close\">×</a>Something went wrong trying to delete your selected row.</div>");
                }
            });
        });
    });
</script>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="myDT" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublicationYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                <label>Buttons</label>
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<div id="Modal-Delete" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Delete Row Confirmation
            </div>
            <div class="modal-body">
                Are you sure you want to delete the selected row?
                <input type="text" class="form-control custom-hidden" id="hiddenInput">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a id="Delete-Confirmation" class="btn btn-danger btn-ok">Delete</a>
            </div>
        </div>
    </div>
</div>




