@model IEnumerable<RequestApp.Models.Book>

@{
    ViewBag.Title = "Index";
}
<!-- Bootstrap Core CSS -->
<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- MetisMenu CSS -->
<link href="/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
<!-- DataTables CSS -->
<link href="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">
<!-- DataTables Responsive CSS -->
<link href="/bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">
<!-- Custom Fonts -->
<link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- DataTables JavaScript -->
<script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>

<script>
 $(document).ready(function () {

        $Table = $("#myDT").DataTable({
            responsive: true,
            "columnDefs":
            [
                {
                    "targets": [0, 6],
                    "sortable": false
                }
            ]
        });

        $("tbody").on("click", ".glyphicon-ok-circle", function ()
        {
            var Row = $(this).parents("tr");
            IdVal = $Table.row(Row).data()[0];
            window.location.replace("http://localhost:61232/Books/Edit?BookId=" + IdVal);

        });

        $.ajax({
            type: "GET",
            url: "http://localhost:61232/Books/GetMyJsonValues",
            data: "",
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (pData) {
                $.each(pData, function (Index, pArray) {
                    var Data =
                        [
                            pArray.BookId,
                            pArray.Description,
                            pArray.ImageUrl,
                            pArray.PublicationYear,
                            pArray.Publisher,
                            pArray.Title,
                            "<span class='glyphicon glyphicon-remove-circle'> |</span>" +
                            "<span class='glyphicon glyphicon-ok-circle'></span>"
                        ];
                    $Table
                        .row
                        .add(Data)
                        .draw()
                });
            },
            error: function () {
                alert("Oscar se la come toda");
            }
        });

        $(document).on("click", ".glyphicon-remove-circle", function () {

            var Row = $(this).parents("tr");
            var Index = $Table
            .row(Row)
            .index();
            $("#hidden").val(Index);
            $("#myModal").modal();
        });
        $("#DeleteRow").click(function () {
            var Index = $("#hidden").val();

            $.ajax({
                type: "DELETE",
                url: "http://localhost:61232/Books/DeleteBook",
                data: JSON.stringify({ bookId: $Table.row(Index).data()[0] }),
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (Data) {
                    if (Data) {
                        $Table.row(Index).remove().draw();
                        CloseModal();
                    }
                    else {
                        if (!$('div[class="alert-danger"]').length) {
                            $("#myDT").prepend('<div class="alert alert-danger">< strong > Omaiga!</strong >Failed deleting the row ToT</div >');
                        }
                    }


                },
                error: function () {
                    WarningMessage();
                }
            });//Close Delete Ajax

        });
       

    });//Close Document.Ready
    function CloseModal()
    {
        $("#myModal").modal("hide");
    }

    function WarningMessage()
    {
        if (!$('div[class="alert-danger"]').length)
        {
            $("#myDT").prepend('<div class="alert alert-danger">< strong > Omaiga!</strong >Something went wrong >:O</div >');
        }
    }

</script>
<style>
    .Error {
        border: solid 1px red;
    }

    #hidden {
        display: none;
    }
</style>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="myDT" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublicationYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                <label>Buttons</label>
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>


