@model IEnumerable<RequestApp.Models.Book>

@{
    ViewBag.Title = "Index";
}
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.8/datatables.min.css" />
<script type="text/javascript" src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>


<!-- MetisMenu CSS -->
<link href="/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
<!-- DataTables CSS -->
<link href="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">
<!-- DataTables Responsive CSS -->
<link href="/bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">
<!-- Custom Fonts -->
<link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- DataTables JavaScript -->
<script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>

<script>
    $(document).ready(function () {

        $Table = $("#myDT").DataTable({
            responsive: true,
            "columnDefs":
            [
                {
                    "targets": [0, 7],
                    "sortable": false
                }
            ],
            "order": [[1, "asc"]]
        });//Initialize Data Table 
        $("tbody").on("click", ".glyphicon-ok-circle", function () {
            var Row = $(this).parents("tr");
            IdVal = $Table.row(Row).data()[1];
            window.location.replace("http://localhost:61232/Books/Edit?BookId="+IdVal);

        });//Redirect
        $("#YesDelete").click(function () {
            $.ajax({
                type: "DELETE",
                url: "http://localhost:61232/Books/DeleteBook",
                data: JSON.stringify({ bookId: $Table.row($("#hidden2").val()).data()[1] }),
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (Data) {
                    if (Data) {
                        $Table.row($("#hidden2").val()).remove().draw();
                        $("#myDeleteModal").modal("hide");
                    }
                    else {
                        if (!$('div[class="alert-danger"]').length) {
                            $("#myDT").prepend('<div class="alert alert-danger">< strong > Omaiga!</strong >Failed deleting the row ToT</div >');
                        }
                    }
                },
                error: function () {
                    WarningMessage();
                }
            });//Close Delete Ajax
        })//Confirmation Modal Delete;
        $("#NoDelete").click(function () {
            $("#myDeleteModal").modal("hide");
        });//Confirmation Modal
        $.ajax({
            type: "GET",
            url: "http://localhost:61232/Books/GetMyJsonValues",
            data: "",
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (pData) {
                $.each(pData, function (Index, pArray) {
                    var Data =
                        [
                            "<span class='glyphicon glyphicon-download' id='Shown'>",
                            pArray.BookId,
                            pArray.Description,
                            pArray.ImageUrl,
                            pArray.PublicationYear,
                            pArray.Publisher,
                            pArray.Title,
                            "<span class='glyphicon glyphicon-remove-circle'> |</span>" +
                            "<span class='glyphicon glyphicon-ok-circle'></span>"
                        ];
                    $Table
                        .row
                        .add(Data)
                        .draw()
                });
            },
            error: function () {
                alert("Oscar se la come toda");
            }
        });//Close GET
        $(document).on("click", ".glyphicon-remove-circle", function () {
            var Row = $(this).parents("tr");
            var Index = $Table
                .row(Row)
                .index();
            $("#hidden").val(Index);
            $("#myModal").modal();
            var Index2 = $("#hidden").val();

            $("#hidden2").val(Index);
            $("#myDeleteModal").modal();

            
        });//Obtains the index value of the row 
       
        $("#myDT tbody").on("click", ".glyphicon-download,.glyphicon-upload", function () {
            var RClass = "glyphicon-download";
            var AClass = "glyphicon-upload";

            var Tr = $(this).closest("tr");/**HTML Row**/
            var row = $Table.row(Tr);/**DataTable Row**/
            var Index = $Table
                .row(row)
                .index();
           
            if (row.child.isShown())
            {
                ShowLogo(this, AClass, RClass);
                row.child.hide();
                Tr.removeClass('shown');
                
            }
            else {
                $.ajax({
                    type: "GET",
                    url: "http://localhost:61232/Books/getBookAuthors",
                    data: { BookId: $Table.row(Index).data()[1] },
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        console.log(row.child(Format(data)));
                        if (!data) {
                            alert("Puto el que lo lea");

                            
                        }
                        else {
                            
                            row.child(Format(data)).show();
                            Tr.addClass('shown');

                        }/**Sends the datatable row data to the Format method and show it**/

                    },
                    error: function () {
                        alert("");
                    }
                });//Close GET Authors Ajax
                ShowLogo(this, RClass, AClass);
            }
           

        });//Close Show More Function 
    });//Close Document.Ready
    function CloseModal() {
        $("#myModal").modal("hide");
    }//Close the modal
    function WarningMessage() {
        if (!$('div[class="alert-danger"]').length) {
            $("#myDT").prepend('<div class="alert alert-danger">< strong > Omaiga!</strong >Something went wrong >:O</div >');
        }
    }//Displays a warning message
    function Format(Data) {
        
        var Table = "<table><thead><tr><th>First Name</th><th>Second Name</th><th>First Last Name</th><th>Second Last Name</th></tr></thead><tbody>";
        $.each(Data, function (index, obj) {

            Table += "<tr><td>" + obj.FirstName + "</td>" + "<td>" + obj.SecondName + "</td>" + "<td>" + obj.FirstLastName + "</td>" + "<td>" + obj.SecondLastName + "</td>" + "</tr>";

        });
        return Table+"</tbody>" + "</table>";
    }//Adds a format to the sent data
    function ShowLogo(pSelector, pRClass, pAClass) {
        $(pSelector).removeClass(pRClass);
        $(pSelector).addClass(pAClass);
    }//Swaps the icon of the show more row

</script>
<style>
    #hidden {
        display: none;
    }

    #hidden2 {
        display: none;
    }

    /*.Display {
        display: none;
    }*/
    .Error {
        border: solid 1px red;
    }
</style>
</style>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="myDT" class="table">
    <thead>
        <tr>
            <th>
                <label>Les Authors</label>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublicationYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                <label>Buttons</label>
            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<div class="modal fade" id="myDeleteModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="padding:35px 50px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><span class="glyphicon glyphicon-add"></span>Delete this row ????</h4>
            </div>
            <div class="modal-body" style="padding:40px 50px;">
                <div class="alert alert-danger"><strong> Mah gosh </strong>Do you really want to delete this ??</div>
            </div>
            <input id="hidden2" type="text">
            <div class="modal-footer">

                <button type="submit" class="btn btn-success btn-block Display" id="YesDelete"><span class="glyphicon glyphicon-record"></span>Yes, i want to delete this</button>
                <button type="submit" class="btn btn-success btn-block" id="NoDelete"><span class="glyphicon glyphicon-remove-circle"></span>No, it was a mistake</button>
            </div>
        </div>


    </div>
</div>

